__pycache__/
*.pyc
.ipynb_checkpoints/

*.pth
*.pt
*.bin
*.safetensors

rice-rediff/checkpoints/
rice-rediff/sequences/
rice-rediff/outputs/

reap/models/pretrained/
reap/models/finetuned/
reap/results/preds/
reap/results/metrics/
reap/results/logs_csv/
reap/results/*/preds/
reap/results/*/metrics/
reap/results/*/runs/
